/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
  --primary: hsl(229, 7%, 33%);
  --secondary: hsl(0, 0%, 88%);
  --warning: hsl(0deg 100% 44%);
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--primary);
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 90%);
}
a {
  text-decoration: none;
}

/* buttons */
button, .btn {
  background: var(--secondary);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;
  margin: 1rem 0 0;
}
button:hover, .btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: 1px 2px 3px hsla(0, 0%, 15%, 0.096);
  border: 1px solid  var(--secondary);
  background: white;
  display: flex;
  flex-direction: column;
}
input, textarea {
  border: 1px solid var(--secondary);
  border-radius: .5rem;
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1rem auto 0;
}

/* error text */
.error {
  color: var(--warning);
  font-size: 14px;
  margin: .5rem 0 .5rem;
}
